/**
*
* {{ properCase componentName }}
*
*/
import React from 'react';

export const {{ properCase componentName }}: React.FC = () => {
  return (
  <div>
    Hello from {{ properCase componentName }}
  </div>
  );
};
