/**
*
* {{ properCase componentName }}
*
*/
import React from 'react';

interface Props {}

export function {{ properCase componentName }}(props: Props) {
  return (
  <div>
    Page from {{ properCase componentName }}
  </div>
  );
};
